docs/n8n_workflows/4_openwebui_워크플로우.json
{
  "name": "openwebui",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9eda0b01-053e-4a59-9ee8-27b010d039ce",
      "name": "Webhook",
      "webhookId": "a7a44602-6488-430b-bdcd-158a20d8adb1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "f834ef37-ef47-4a6a-8c03-e2f7afa3231d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        200
      ],
      "id": "8afe89da-ec7e-467d-8730-7a12858746f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pWfQatwpyRsBym2e",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        580,
        0
      ],
      "id": "3620318e-a979-467f-a235-7b80af52a784",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "102f76fb-6f9b-49ec-b22c-33f6327b652d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f59c0de63285a64c131184e7bec79da05901447afbe86aac036ebf3df0ced53d"
  },
  "id": "wRMBfQSGvR64cXlJ",
  "tags": []
}